[user]
	name = r-hsnin
	email = 142802248+r-hsnin@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !__GH_PATH__ auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !__GH_PATH__ auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
